<% include head.ejs %>
<% include header.ejs %>

<div id="bookkafeCSS">


	<div class="container-fluid">
		<div class="row">
			<div class="photoCouverture col-xs-12">



			</div>
		</div>
	</div>



	<div class="container" id="section1">
		<div class="row">
			<div class="left col-xs-12 col-sm-12 col-md-4">
				<img src="./img/page bookkafe-01.svg">
			
			</div>



			<div class="col-xs-12 col-sm-12 col-md-8">

				<h1>LE BOOKKAFÉ </br><span>- BISTROT CULTUREL ET SOLIDAIRE</span></h1>

				<p>Venez découvrir une nouvelle façon de consommer en favorisant les producteurs locaux, en découvrant de nouveaux produits cuisinés par les bons soins de Maggie et Anaïs.</p>

				<p>Vous pourrez déguster des boissons locales, des soupes ou des sandwichs frais, ainsi que des gourmandises, vous installer pour lire un livre, ou troquer des objets dans la give-box (boîte à donner).</p>

				<p>Le Bookkafé organise des ateliers, des rencontres en lien avec les valeurs de la Smart City.</p>

				<a href="https://lafabrique-bethune.fr/event?event=book"><button>Calendrier des événements</button></a>


			</div>
		</div>
	</div>


	<div class="container" id="section2">
		<div class="row">

			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur bleu">
					<h2>Bon plan !</h2>
					<p>Les jeudis des ami-es tous les 1ers jeudi du mois pour la nocturne, on te présente un des ami-es du Bookkafé avec un savoir faire tout particulier.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur vert">
					<h2>Bon plan !</h2>
					<p>Café filtre à volonté pour 5€ ! Et pour les co-workers, accès libre au café filtre gratuit toute la journée !</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 horaires">
				<h2>Horaires</h2>
				<p>Du lundi au vendredi de 9h à 18h</p>
				<p>Samedi de 10h à 18h</p>
				<p>Nocture le 1er jeudi du mois de 18h à 22h</p>
			</div>
		</div>
	</div>


</div>




<% include footer.ejs %>