<% include head.ejs %>
<% include header.ejs %>

<div id="coworkingCSS">


	<div class="container-fluid">
		<div class="row">
			<div class="photoCouverture col-xs-12">



			</div>
		</div>
	</div>



	<div class="container" id="section1">
		<div class="row">
			<div class="left col-xs-12 col-sm-12 col-md-4">
				<img src="./img/page coworking-01.svg">
				

				
				<div class="couleur" style="margin-top: 50px;">
					<h2>Tarifs</h2>
					<p>1 jour : 8€</p>
					<p>1 semaine : 40€</p>
					<p>1 mois : 120€</p>
					<p>1 trimestre : 250€</p>
					<p>1 an : 750€</p>
				</div>
			
			</div>



			<div class="col-xs-12 col-sm-12 col-md-8">

				<h1>L'ESPACE DE COWORKING </br><span>- BY INDELAB</span></h1>

				<p>C'est un espace de travail partagé qui offre la possibilité de participer à la vie d'une communauté professionnelle et de tisser son réseau. Sur place : copieur, accès fibre internet, café, casiers…</p>

				<p>Le coworking s'adresse à tous ! Que vous soyez entrepreneur, indépendant, freelance, télé-travailleur, artiste, artisan, étudiant, retraité etc. Nous saurons répondre à vos attentes afin de vous faire évoluer dans les meilleures conditions de travail pour fructifier vos idées et développer votre business.</p>


			</div>
		</div>
	</div>


	<div class="container" id="section2">
		<div class="row">

			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur bleu">
					<h2>Bon plan !</h2>
					<p>Les coworkers disposent d'une cuisine collective pour leur pause déjeuner.</br>
					Abonnement Fablab offert</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur vert">
					<h2>Bon plan !</h2>
					<p>Les coworkers ont accès au café filtre toute la journée !</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 horaires">
				<h2>Horaires</h2>
				<p>Du lundi au vendredi de 9h à 18h</p>
				<p>Samedi de 10h à 18h</p>
				<p>Nocture le 1er jeudi du mois de 18h à 22h</p>
			</div>
		</div>
	</div>


<!-- 	<div class="container franchi">
		<div class="row">

			<div class="col-md-4 bulle">
				<img src="./img/page coworking bulle-01.svg">
			</div>

			<div class="col-md-8">
				<h2>Ils ont franchi le pas !</h2>
				<p>Ils ont fait du coworking à la Fabrique .........................................................................</p>
			</div>
		</div>


		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-6">
			
				<div class="testimonial">
					<img>
					<h2>Panda</h2>
					<h3>Co-worker graphiste</h3>

					<p>Transitionnovant. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed lacinia leo, scelerisque aliquet sapien. Etiam aliquam dapibus quam, sed congue magna viverra id. Etiam sit amet nisl ac arcu hicula scelerisque.</p>

				</div>

		</div>


		<div class="col-xs-12 col-sm-12 col-md-6">
			
				<div class="testimonial">
					<img>
					<h2>Panda</h2>
					<h3>Co-worker graphiste</h3>

					<p>Transitionnovant. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed lacinia leo, scelerisque aliquet sapien. Etiam aliquam dapibus quam, sed congue magna viverra id. Etiam sit amet nisl ac arcu hicula scelerisque.</p>

				</div>

		</div>
	</div> -->

</div>




<% include footer.ejs %>