<% include head.ejs %>
<% include header.ejs %>

<div id="fablabCSS">


	<div class="container-fluid">
		<div class="row">
			<div class="photoCouverture col-xs-12">



			</div>
		</div>
	</div>



	<div class="container" id="section1">
		<div class="row">
			<div class="left col-xs-12 col-sm-12 col-md-4">
				<img src="./img/page fablab-01.svg">
				

				
				<div class="couleur" style="margin-top: 50px;">
					<h2>Tarifs</h2>
					<p>1 jour : 5€</p>
					<p>1 semaine : 10€</p>
					<p>1 mois : 20€</p>
					<p>1 trimestre : 50€</p>
					<p>1 an : 190€</p>
					<p>50% de réduction pour les demandeurs d’emplois, les étudiants, et les retraités) À partir d’un mois d’abonnement l’atelier de votre choix vous est offert</p>
				</div>
			
			</div>



			<div class="col-xs-12 col-sm-12 col-md-8">

				<h1>LE FABLAB </br><span>- BY INDELAB</span></h1>

				<p>Venez vous frotter au DIY (Do It Yourself) dans un atelier ouvert à tous.</p>

				<p>Nous avons les moyens techniques et humains de vous accompagner dans la réalisation de vos projets éducatifs, personnels ou professionnels. Du simple gadget à l’objet intelligent, tout est réalisable.</p>

				<p>De nombreux <span>ateliers d’initiation</span> sont programmés pour vous donner les clés vous permettant de maitriser les machines.* </br>(formation aux logiciels de dessin 2D ou 3D, formations à la découpeuse laser, à l’usinage)</p>


				<a href="http://www.indelab.fr/formations/"><button>Calendrier des ateliers</button></a>


			</div>
		</div>
	</div>


	<div class="container" id="section2">
		<div class="row">

			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur negatif">
					
					<p>Un repair café sera mis en place début 2019, n’hésitez à vous faire connaitre si vous êtes intéressés.</p>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8">
				<div class="">

					<h2>Des outils à portée de main</h2>
					
					<img src="./img/page fablab atelier classique-01.png">

					<h3>Un atelier classique</h3>
					<p>L’espace de travail mutualisé comprendra des établis et des espaces pour bidouiller. Il comprendra également un grand nombre d’outils et de dispositifs manuels et/ou électriques, comme des boites à outils, scies, étau, plastifieuse, cisaille, outils de mesures, visseuses, …</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur bleu">
					<h2>Bon plan !</h2>
					<p>L’apéro-lab le premier jeudi de chaque mois à partir de 18h, est un temps gratuit pour découvrir ou échanger sur vos projets, vos envies, vos interrogations. Ouvert à tous</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8">
				<div class="">
					
					<img src="./img/page fablab atelier numerique-01.png">

					<h3>Un atelier numérique</h3>
					<p>Ces équipements sont principalement des machines outils pilotées par ordinateur (imprimantes 3D, découpeuse-graveuse laser, usinage et façonnage, scanner 3D). Les compétences intervenant dans ce volet sont de l’ordre de la conception et de la fabrication assistée par ordinateur.</p>
				</div>
			</div>
		</div>

	</div>

	<div class="container-fluid horaires">
	<div class="container">
			<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-8">
				<h2>Horaires</h2>
				<p>Du lundi au vendredi de 9h à 18h</p>
				<p>Samedi de 10h à 18h</p>
				<p>Nocture le 1er jeudi du mois de 18h à 22h</p>
			</div>
		</div>
	</div>
	</div>


<% include footer.ejs %>