<footer>

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-4">
				<img src="./img/logo footer-01.svg">
			</div>

			<div class="col-md-4 social">

				<p>RETROUVEZ-NOUS</p>
				<ul>
					<li><a href="https://www.facebook.com/lafabriquebethune/"><img src="./img/facebook-01.svg"></a></li>
					<li><a href="https://www.instagram.com/lafabriquebethune/"><img src="./img/instagram-01.svg"></a></li>
					<li><a href="mailto:indelab@lafabrique-bethune.fr"><img src="./img/enveloppe-01.svg"></a></li>
				</ul>

			</div>


			<div class="col-md-4 links">

				<ul>
					<li><a href="https://lafabrique-bethune.fr/">ACCUEIL</a></li>
					<li><a href="https://lafabrique-bethune.fr/smart-city">SMART CITY</a></li>
					<li><a href="https://lafabrique-bethune.fr/co-working">COWORKING</a></li>
					<li><a href="https://lafabrique-bethune.fr/fablab">LE FABLAB</a></li>
					<li><a href="https://lafabrique-bethune.fr/bookkafe">LE BOOKKAFE</a></li>
					<li><a href="https://lafabrique-bethune.fr/location">LOCATION</a></li>
					<li><a href="https://lafabrique-bethune.fr/event">EVENT</a></li>
					<li><a href="https://blog.lafabrique-bethune.fr">BLOG</a></li>
					<li><a href="https://lafabrique-bethune.fr/contact">CONTACT</a></li>
				</ul>
				
			</div>

		</div>

	</div>

	<div class="container">

		<div class="row">

			<div class="col-xs-12">
				<p>La Fabrique - 6 rue Sadi Carnot - 62 400 Béthune </p>© 2018 - Indelab
			</div>

		</div>

	</div>

</footer>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>