<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>La Fabrique</title>


  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/screen.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/smart-city.css">
  <link rel="stylesheet" href="/stylesheets/co-working.css">
  <link rel="stylesheet" href="/stylesheets/bookkafe.css">
  <link rel="stylesheet" href="/stylesheets/fablab.css">
  <link rel="stylesheet" href="/stylesheets/event.css">
  <link rel="stylesheet" href="/stylesheets/location.css">
  <link rel="stylesheet" href="/stylesheets/contact.css">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">

  <link rel="icon" type="image/png" href="./img/logoLaFabrique-01.png" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="./design.js"></script>