</head>

<body>

	<header>

		<div class="container-fluid">

			<div class="row">

				<div class="col-xs-6 col-md-2">
					<a href="/"><img src="/img/logoLaFabrique.svg"></a>
				</div>

				<div class="col-xs-6 col-md-10">
					<div class="dropdown">

			        	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" 
			        		style="	background-image: url('/img/burgerBlack.svg');
                    				background-position: center center;
                    				background-repeat: no-repeat;
                    				background-size: cover;"></button>

			            		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            			<li class="smartCity"><a href="/smart-city">SMART CITY</a></li>
			            			<li class="coWorking"><a href="/co-working">COWORKING</a></li>
			            			<li class="fablab"><a href="/fablab">FABLAB</a></li>
			            			<li class="bookkafe"><a href="/bookkafe">BOOKKAFÉ</a></li>
			            			<li class="location"><a href="/location">LOCATION</a></li>
			            			<li class="event"><a href="/event">EVENT</a></li>
			            			<li class="blog"><a href="https://blog.lafabrique-bethune.fr">BLOG</a></li>
			            			<li class="contact"><a href="/contact">CONTACT</a></li>	
			            		</ul>
			        </div>
				</div>

				<ul class="menu">
			            			<li class="smartCity"><a href="/smart-city">SMART CITY</a></li>
			            			<li class="coWorking"><a href="/co-working">COWORKING</a></li>
			            			<li class="fablab"><a href="/fablab">FABLAB</a></li>
			            			<li class="bookkafe"><a href="/bookkafe">BOOKKAFÉ</a></li>
			            			<li class="location"><a href="/location">LOCATION</a></li>
			            			<li class="event"><a href="/event">EVENT</a></li>
			            			<li class="blog"><a href="https://blog.lafabrique-bethune.fr">BLOG</a></li>
			            			<li class="contact"><a href="/contact">CONTACT</a></li>	
			            		</ul>
			</div>
		</div>




	</header>