<% include head.ejs %>
<% include header.ejs %>

<div id="homeCSS">


	<div class="container-fluid">
		<div class="row">
			<div class="photoCouverture col-xs-12">



			</div>
		</div>
	</div>




	<div class="container">
		<div class="row" id="section1">
			<div class="logoCouleur col-xs-12 col-sm-12 col-md-4">
			</div>



			<div class="col-xs-12 col-sm-12 col-md-8">

				<h1>LA FABRIQUE</h1>

				<p>Ouverte dans les locaux art-déco de l’ancienne Chambre de commerce et d’industrie, la Fabrique est le lieu dédié à la démarche Smart City à Béthune.</p>

				<p>C’est la maison des innovations et de la construction du territoire de demain. La Fabrique accueille toutes les initiatives collaboratives, durables et innovantes que peuvent porter les acteurs engagés dans la démarche.</p>

				<p>À la Fabrique, sont organisés des rencontres, des débats et des démonstrations. Ces animations ont pour objectif la mise oeuvre de la Smart City à Béthune et sur tout le territoire.</p>

			</div>
		</div>



		<div class="row">
			<div class="plan col-sm-12" id="1erEtage">
				<img src='/img/page accueil - plan-01.png'>
			</div>

		</div>
	</div>


	<div class="container-fluid horaires">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-4 col-md-8">

					<h2>Horaires</h2>
					<p>Du lundi au vendredi de 9h à 18h</p>
					<p>Samedi de 10h à 18h</p>
					<p>Nocturne le premier jeudi du mois de 18h à 22h</p>
					</br></br>
					<a class="brochure" href="./Brochure.pdf" download><p>Télécharger notre brochure</p></a>

				</div>
			</div>
		</div>
	</div>


	<div class="container" id="sectionLogos">
		<div class="row">

			<div class="col-md-4 logoLogos">
				<img src="./img/logoLaFabrique.svg">
			</div>

			<div class="col-md-8 txtHome">
				<h2>La Fabrique vous propose</h2>
				<p>Des événements et des animations Smart City, un espace de Co-working, un Fablab par Indelab, le Bookkafé - bistrot culturel solidaire, la location de salles de réunion ou de l’auditorium...</p>
			</div>

			<div class="col-md-3 col-xs-6 picto">
				<a href="./bookkafe"><img src="./img/bookkafe noir-01.svg"></a>
			</div>
			<div class="col-md-3 col-xs-6 picto">
				<a href="./fablab"><img src="./img/fablab noir-01.svg"></a>
			</div>
			<div class="col-md-3 col-xs-6 picto">
				<a href="./co-working"><img src="./img/coworking noir-01.svg"></a>
			</div>
			<div class="col-md-3 col-xs-6 picto">
				<a href="./location"><img src="./img/location noir-01.svg"></a>
			</div>
			<div class="col-md-3 col-xs-6 picto">
				<a href="./event"><img src="./img/événements noir-01.svg"></a>
			</div>
			<div class="col-md-3 col-xs-6 picto">
				<a href="./smartcity"><img src="./img/expo noir-01.svg"></a>
			</div>
			<div class="col-md-3 col-xs-6 picto">
				<a href="./location"><img src="./img/auditorium noir-01.svg"></a>
			</div>
			<div class="col-md-3 col-xs-6 picto">
				<img src="./img/wifi noir-01.svg">
			</div>
		</div>
	</div>

</div>




<% include footer.ejs %>