<% include head.ejs %>
<% include header.ejs %>

<div id="locationCSS">


	<div class="container-fluid">
		<div class="row">
			<div class="photoCouverture col-xs-12">



			</div>
		</div>
	</div>



	<div class="container" id="section1">
		<div class="row">
			<div class="left col-xs-12 col-sm-12 col-md-4">
				<img src="./img/page location-01.svg">
				

				
				<div class="couleur bonPlan">
					<h2>Bon plan !</h2>
					<p>Le Bookkafé s’occupe de vos buffets, apéros, petits déjeuners… N’hésitez pas à demander !</p>
				</div>
			
			</div>



			<div class="col-xs-12 col-sm-12 col-md-8">

				<h1>LES LOCATIONS DE SALLES <span>- BY INDELAB</span></h1>

				<p>Deux salles de réunion sont à la disposition des professionnels qui souhaitent les louer. L’une est traditionnelle, l’autre plus informelle (canapés, fauteuils et table basse).</p>

				<p>Vous pouvez également louer l’auditorium pour vos séminaires, conférences et divers événements. Il est équipé d’un écran géant, d’une sono et de micro sans fil. Des tablettes permettent la prise de notes.</p>


			</div>
		</div>
	</div>


	<div class="container" id="section2">
		<div class="row">

			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur bleu">
					<h2>Tarifs</h2>
					<p>500 € la demi-journée</p>
					<p>1000 € la journée</p>
				</div>
			</div>

			<div class="col-md-8 louez">
				<h2>Louez l'auditorium</h2>
				<p><span>150 places, vidéo-projecteur et grand écran, micro, son ...</span></p>
			</div>


		</div>




	</div>


	<div class="container" id="section3">

		<div class="row">

			<div class="col-md-offset-3 col-xs-12 col-sm-12 col-md-6">
			
				<div class="locationSalle" id="auditorium">
					
					<h2>L'auditorium</h2>
					<h4>(150 personnes)</h3>
					<div class="imgSalle"></div>

					<a href="./contactLocation?salle=auditorium"><button>Je veux louer !</button></a>

				</div>
			</div>

		</div>

	</div>


	<div class="container" id="section2" style="margin-top: 110px;">
		<div class="row">

			<div class="bonPlan col-xs-12 col-sm-12 col-md-4">
				<div class="couleur bleu">
					<h2>Tarifs</h2>
					<p>60 € la demi-journée</p>
					<p>120 € la journée</p>
				</div>
			</div>

			<div class="col-md-8 louez">
				<h2>Louez une salle de réunion</h2>
				<p><span>Ces salles sont équipées d’écrans tactiles de projection.</span></p>
			</div>


		</div>




	</div>

	<div class="container" id="section3">

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-6">
			
				<div class="locationSalle" id="cocon">
					
					<h2>Le cocon</h2>
					<h4>(15 personnes)</h3>
					<div class="imgSalle"></div>

					<a href="./contactLocation?salle=cocon"><button>Je veux louer !</button></a>

				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6">
			
				<div class="locationSalle" id="ruche">
					
					<h2>La ruche</h2>
					<h4>(15 personnes)</h3>
					<div class="imgSalle"></div>

					<a href="./contactLocation?salle=ruche"><button>Je veux louer !</button></a>

				</div>
			</div>

		</div>

	</div>
</div>




<% include footer.ejs %>