<%- include head.ejs %>


</head>

<body>






    <div class="container">

        <div class="row">

            <center>

                <div class="loginSignup">

                    
            
                    <form action="/signup" method="post">
                        <div>
                            <input type="text" name="username" placeholder="Nom d'utilisateur" required />
                        </div>
                        <div>
                            <input type="email" name="email" placeholder="Adresse mail" required />
                        </div>    
                        <div>
                            <input type="password" name="password" placeholder="Mot de passe" required />
                        </div>
                        <div>
                            <input class="boutonLogin btn btn-primary" type="submit" value="S'inscrire"/>
                        </div>
                    </form>  
                </div>
            </center>

        </div>


    </div> 
 