<% include head.ejs %>
<% include header.ejs %>

<div id="smartCityCSS">


	<div class="container-fluid">
		<div class="row">
			<div class="photoCouverture col-xs-12">



			</div>
		</div>
	</div>



	<div class="container" id="section1">
		<div class="row">
			<div class="B col-xs-12 col-sm-12 col-md-4">
				<div class="col-xs-6 col-sm-6 col-md-12">
					<img src="./img/page smart city-01.svg">
				</div>
				<div class="enSavoirPlus col-xs-6 col-sm-6 col-md-12">
				</div>
			</div>



			<div class="col-xs-12 col-sm-12 col-md-8">

				<h1>BÉTHUNE <span>SMART-CITY</span></h1>

				<p>Transition écologique, révolution numérique, bouleversements sociétaux, notre monde change et nous devons évoluer avec lui.</p>

				<p>Pour faire face à ces enjeux, la Ville de Béthune s’est engagée dans la démarche Smart City. L’objectif est de mettre en place et de soutenir des actions concrètes d’amélioration du cadre de vie et d’attractivité du territoire.</p>

				<p>Convaincue que c’est de la responsabilité de tous et de chacun de mettre en oeuvre le changement, la Ville de Béthune incite les habitants et partenaires à participer aux réflexions et actions pour construire la ville de demain.</p>

				<p>Béthune Smart City rassemble ainsi les acteurs du monde économique, associatif, institutionnel et académique qui portent un projet d’avenir.</p>

				<p>Ensemble, ils contribuent à construire le territoire de demain, un territoire collaboratif, durable et innovant.</p>


				<a href="https://lafabrique-bethune.fr/event?event=smart">
					<button style=" height: 50px;
						        	color: white;
						        	padding: 8px 40px;
						        	background-color: #c3d500;
						        	border: none;
						        	font-weight: 400;
						        	font-size: 3rem;
						            margin-top: 50px;">Calendrier des événements</button>
		        </a>

				<div class="pictos">
					<div class="col-md-4">
						<img src="./img/collaborative-01.svg">
					</div>
					<div class="col-md-4">
						<img src="./img/durable-01.svg">
					</div>
					<div class="col-md-4">
						<img src="./img/innovante-01.svg">
					</div>
				</div>


				<a href="https://smartcity.ville-bethune.fr/" style="color: #c3d500; font-weight: 400; text-align: left; font-size: 1.8rem;"><button style="border: none; background-color: transparent;">En savoir plus sur Béthune Smart-City</button></a>


			</div>
		</div>
	</div>


	<div class="container-fluid horaires">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
				</div>

				<div class="col-md-8">

					<h2>L'EXPOSITION SMART CITY</h2>
					<p>Pourquoi doit-on changer ?</p>
					<p>Que sera la ville de demain ?</p>
					<p>Comment peut-on agir à notre niveau ?</p>
					<p>Ce sont toutes ces questions auxquelles tente de répondre l’expo permanente de La Fabrique. En quelques panneaux, elle retrace la démarche Smart City et nous interroge sur nos propres actions et comment rejoindre le mouvement.</p>


				</div>
			</div>
		</div>
	</div>


<!-- 	<div class="container">
		<div class="row">

			<div class="col-md-offset-4 col-md-8">
				<h2>Ils ont franchi le pas !</h2>
				<p>En septembre 2017, la Ville de Béthune lançait le label « Béthune Smart City ».</p>
			</div>

			<div class="col-md-3">
				<img src="">
			</div>
			<div class="col-md-3">
				<img src="">
			</div>
			<div class="col-md-3">
				<img src="">
			</div>
			<div class="col-md-3">
				<img src="">
			</div>
			<div class="col-md-3">
				<img src="">
			</div>
			<div class="col-md-3">
				<img src="">
			</div>
			<div class="col-md-3">
				<img src="">
			</div>
			<div class="col-md-3">
				<img src="">
			</div>
		</div>
	</div> -->

</div>




<% include footer.ejs %>