@charset "UTF-8";
@font-face {
  font-family: Fabrique;
  font-weight: 400;
  src: url("../fonts/Jaapokki-Regular.otf") format("opentype");
}
@font-face {
  font-family: Fabrique;
  src: url("../fonts/UniNeue-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: Fabrique;
  font-weight: 700;
  src: url("../fonts/UniNeue-HeavyItalic.otf") format("opentype");
}
/* line 33, ../sass/event.scss */
#eventCSS {
  margin-top: 50px;
}
/* line 37, ../sass/event.scss */
#eventCSS h1 {
  font-weight: 400px;
}
/* line 41, ../sass/event.scss */
#eventCSS .photoCouverture {
  height: 200px;
  background-image: url("/img/couv event-01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 49, ../sass/event.scss */
#eventCSS #section1 {
  margin-top: 40px;
}
/* line 53, ../sass/event.scss */
#eventCSS #section1 .logoCouleur {
  height: 150px;
  background-image: url("/img/page accueil - logo-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}
/* line 62, ../sass/event.scss */
#eventCSS #section1 .left {
  text-align: center;
}
/* line 65, ../sass/event.scss */
#eventCSS #section1 .left img {
  height: 120px;
}
/* line 69, ../sass/event.scss */
#eventCSS #section1 .left .couleur {
  color: white;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #c3d500;
}
/* line 77, ../sass/event.scss */
#eventCSS #section1 .left .couleur p {
  margin: 0px;
}
/* line 81, ../sass/event.scss */
#eventCSS #section1 .left .couleur span {
  font-weight: 400;
}
/* line 88, ../sass/event.scss */
#eventCSS #section1 button {
  color: white;
  padding: 12px 40px 4px 40px;
  background-color: #c3d500;
  border: none;
  font-weight: 400;
  font-size: 3rem;
  margin-top: 30px;
}
/* line 103, ../sass/event.scss */
#eventCSS #section2 .row {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 108, ../sass/event.scss */
#eventCSS #section2 img {
  width: 100%;
}
/* line 117, ../sass/event.scss */
#eventCSS #section2 .bonPlan .couleur {
  color: white;
  padding: 10px 30px;
  text-align: center;
  margin-bottom: 50px;
}
/* line 125, ../sass/event.scss */
#eventCSS #section2 .bonPlan .negatif {
  background-color: white;
  color: #159d92;
}
/* line 130, ../sass/event.scss */
#eventCSS #section2 .bonPlan .bleu {
  background-color: #159d92;
}
/* line 135, ../sass/event.scss */
#eventCSS #section2 .horaires {
  background-color: #159d92;
  color: white;
  margin-top: 30px;
  padding: 20px;
}
/* line 141, ../sass/event.scss */
#eventCSS #section2 .horaires p {
  margin: 0px;
}
/* line 148, ../sass/event.scss */
#eventCSS .horaires {
  background-color: #159d92;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 162, ../sass/event.scss */
#eventCSS #listEvent .eventUnique {
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.1);
  margin: 30px 0px;
}
/* line 167, ../sass/event.scss */
#eventCSS #listEvent .eventUnique .photoEvent {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
}
/* line 179, ../sass/event.scss */
#eventCSS #listEvent .eventUnique .infosEvent {
  min-height: 250px;
  padding-bottom: 30px;
}
/* line 184, ../sass/event.scss */
#eventCSS #listEvent .eventUnique .infosEvent a {
  font-weight: 400;
  position: absolute;
  bottom: 5px;
}
/* line 192, ../sass/event.scss */
#eventCSS #listEvent .eventUnique .dateEvent {
  padding: 10px;
  height: 250px;
  color: white;
  font-weight: 400;
}
/* line 203, ../sass/event.scss */
#eventCSS #listEvent .Fablab .dateEvent {
  background-color: #159d92;
}
/* line 207, ../sass/event.scss */
#eventCSS #listEvent .Fablab h3 {
  color: #159d92;
}
/* line 212, ../sass/event.scss */
#eventCSS #listEvent .Bookkafé .dateEvent {
  background-color: #e21945;
}
/* line 216, ../sass/event.scss */
#eventCSS #listEvent .Bookkafé h3 {
  color: #e21945;
}
/* line 221, ../sass/event.scss */
#eventCSS #listEvent .Smart-City .dateEvent {
  background-color: #c3d500;
}
/* line 225, ../sass/event.scss */
#eventCSS #listEvent .Smart-City h3 {
  color: #c3d500;
}
/* line 231, ../sass/event.scss */
#eventCSS form {
  text-align: center;
}
/* line 235, ../sass/event.scss */
#eventCSS form #fablabCheckText {
  color: #159d92;
}
/* line 239, ../sass/event.scss */
#eventCSS form #bookCheckText {
  color: #e21945;
}
/* line 242, ../sass/event.scss */
#eventCSS form #smartCheckText {
  color: #c3d500;
}
/* line 246, ../sass/event.scss */
#eventCSS form p {
  padding-left: 20px;
  font-weight: 400;
}
/* line 251, ../sass/event.scss */
#eventCSS form input {
  padding-right: 20px;
}
/* line 254, ../sass/event.scss */
#eventCSS form input, #eventCSS form p {
  display: inline;
}
@media screen and (min-width: 992px) {
  /* line 33, ../sass/event.scss */
  #eventCSS {
    margin-top: 120px;
  }
  /* line 268, ../sass/event.scss */
  #eventCSS .photoCouverture {
    height: 500px;
    background-size: cover;
  }
  /* line 273, ../sass/event.scss */
  #eventCSS #section1 .logoCouleur {
    height: 250px;
  }
  /* line 279, ../sass/event.scss */
  #eventCSS #section2 .horaires {
    margin-top: 0px;
  }
  /* line 284, ../sass/event.scss */
  #eventCSS #section2 .bonPlan .negatif {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
